$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$mainHeaderFont: "lubaline",sans-serif;

// https://coolors.co/palette/22223b-4a4e69-9a8c98-c9ada7-f2e9e4
$color1: #22223B;
$color2: #4A4E69;
$color3: #9A8C98;
$color4: #C9ADA7;
$color5: #F2E9E4;
