@use "reset";
@use "base";


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Take 100% of the viewport height */
    background: base.$darkBlue;
    color: base.$beige;
    font-family: base.$bodyFont;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // height: 100%;
    /* Take 100% of the body height */
    align-items: center;
    /* Center the container horizontally */
}

header {
    // background-color: base.$backgroundColor;
    color: black;
    padding: 20px;
    text-align: center;
    width: 70%;

    h1 {
        font-family: base.$mainHeaderFont;
        font-weight: 400;
        font-style: normal;
    }
}

.main {
    // background-color: base.$backgroundColor;
    display: flex;
    flex-grow: 1;
    /* Take the remaining space */
    width: 70%;
    border: 1px dashed #000000;
    min-height: 100vh;
}

.main-column {
    flex-grow: 1;
    padding: 20px;
}

footer {
    // background-color: base.$backgroundColor;
    color: #fff;
    padding: 20px;
    // text-align: center;
    width: 70%;
    /* Match the container width */
    margin-top: auto;
    /* Stick the footer to the bottom */
    // position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;


}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.2s ease;
}

nav a:hover {
    background-color: #555;
}

nav li:last-child {
    margin-right: 0;
}