<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ " assets/css/main.css" | relative_url }}">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM1F3V4V0G"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-SM1F3V4V0G');
  </script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>Milena Araujo</h1>
      <small>Web Engineer, Data Explorer, and Stationery Lover</small>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Study Cases</a></li>
          <li><a href="">CV</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section class="main">
      <div class="right-column">
        <!-- Right column content here -->
        <h2>Right Column</h2>
        <p>This is the right column.</p>
        <article>
          {{ content }}
        </article>
      </div>
    </section>
    <footer>
      <nav>
        <ul>
          <li><a href="https://throne.com/mln" target="_blank">Wishlist</a></li>
          <li><a href="https://www.linkedin.com/in/mil3na/" target="_blank">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/mil3na/" target="_blank">Instagram</a></li>
          <li><a href="https://500px.com/p/mln" target="_blank">500px</a></li>
          <li><a href="https://github.com/mil3na" target="_blank">GitHub</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</body>

</html>